<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
   
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }
    li{
        float: right;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
    .active {

        background-color: #4CAF50;
}
</style>
<nav>
<ul>
  <li><a href="#">LOGOUT</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Explore</a></li>
  <li><a href="#">Home</a></li>
</ul>

</nav>


